* {
  padding: 0;
  margin: 0;
}

body {
  padding-bottom: 80px;
  /* adjust this value as needed */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 50px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.navbar-logo {
  display: block;
  float: left;
  height: 105px;
  /* adjust the height as needed */
  margin-right: 20px;
  /* adjust the margin as needed */
}

.text-container {
  padding-top: 20px;
  /* adjust the padding as needed */
  text-align: center;
}

.nav-links a:hover {
  color: #00bcd4;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .nav-links {
    margin-top: 20px;
    flex-direction: column;
  }

  .nav-links li {
    margin: 10px 0;
  }
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid #ddd;
  font-size: 14px;
  height: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  z-index: 2;
}

.button-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
}